*{
    padding:0;
    margin:0;
}
body{
    height:3000px;
}
.container{
    background :url(pexels-photo-1639562.webp);
    background-position:center;
    background-size:cover;
    height:100vh;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:fixed;
    top:0;
    left:70px;
    right:0;
    height:80px;
    background-color: transparent;
}
.left-side{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:400px;
    padding-left:40px;
    padding-top:25px;
}
.left-side p{
    font-size:30px;
    font-weight:bold;
    font-family:arial;
    color:white;
}
.menu ul{
    display:flex;
    align-items:center;
    justify-content: space-between;
    
}

.menu ul li{
    list-style: none;
    margin-right:25px;
    font-size:14px;
    font-family:arial;
    position:relative;
}
.menu ul li::after{
    content:'';
    width:0;
    height:2px;
    background: rgb(245, 245, 35);
    transition:0.5s;
    display:block;
    margin:auto;
    
}

.menu ul li:hover::after{
    width:100%;
}
.menu ul li a{
    text-decoration:none;
    color:rgb(185, 179, 179);
}
.right-side{
    display:flex;
    align-items:center;
    justify-content: space-between;
    
}
.right-side button{
    height:35px;
    width:100px;
    color:black;
    font-size: 13px;
    font-weight:bold;
    font-family: arial;
    border:none;
    background-color: rgb(245, 245, 35);
    margin-right:100px;
    cursor:pointer;
}
.right-side button a{
    text-decoration:none;
    color:black;
}
.left-bar-top{
    position:fixed;
    top:0;
    left:0;
    width:70px;
    bottom:275px;
    background-color:black;
}
.lines{
    height:30px;
    width:30px;
    margin-top: 35px;
    margin-left:15px;
    
}
.lines-icon{
    height:30px;
    width:30px;
    cursor:pointer;
    margin-bottom:25px;
}
.search-icon{
    height:20px;
    width:20px;
    cursor:pointer;
    margin-left:5px;
    
}
.left-bar-bottom{
    position:fixed;
    left:0;
    width:70px;
    bottom:0;
    height:275px;
    background-color: rgb(245, 245, 35);
}
.body{
    padding-left:120px;
    padding-top:150px;
}
.body p{
    color:white;
    font-family: arial;
    font-size: 45px;
    font-weight: bold;
    margin-bottom:40px;
}
.body p span{
    color:rgb(245, 245, 35);
}
.body button{
    height:35px;
    width:100px;
    color:black;
    font-size: 13px;
    font-weight:bold;
    font-family: arial;
    border:none;
    background-color: rgb(245, 245, 35);
    cursor:pointer;
}
.body button a{
    text-decoration: none;
    color:black;
}
.bottom-right{
    position:fixed;
    bottom:0;
    right:0;
    background-color:black;
    width:200px;
    height:110px;
    cursor:pointer; 
}
.video-thumbnail{
    height:110px;
    width:200px;
    object-position: center;
}
.bottom-left{
    position:fixed;
    bottom:0;
    right:200px;
    background-color: rgb(245, 245, 35);
    height:110px;
    width:250px;
} 
.bottom-left p{
    margin-top:15px;
    margin-left:15px;
    font-size:15px;
    margin-bottom:15px;
}
.prev{
    margin-left:150px;
    margin-right:10px;
}
.prev,
.next{
    background-color: rgb(245, 245, 35);
    border:none;
    cursor:pointer;
}